.container{
    border: 1px solid #20639B;
    margin-top: 80px;
}
.display-2{
    text-align: center;
    color: #20639B;
}
.display-4{
    text-align: right;
    color: #20639B;
}
.row{
    width: 100%;
    height: auto;
}
.top-row, .bottom-row{
    width: 100%;
    display: flex;
}
.top-row{
    margin-top: 10px;
}
.bottom-row{
    margin-bottom: 10px;
}
.num, .fee, .settings, .total{
    width: 100%;
    height: 50px;
    border: 1px solid #20639B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: whitesmoke;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}
.fee, .settings{
    margin-right: 6px;
}
.settings:hover{
 background: greenyellow;
 cursor: pointer; 
}
.fade{
    display: none;
}
.show{
    display: block;
}